
<h3>How much money would you like to move?</h3>
<form>
    <form action = "/amountWithdrawSav" method = "POST">
        <p>amount: <input type = "integer" name = "amount" ></p>
<input type="submit">
</form>
