<h1>DS Checking Account</h1>


<h3>What would you like to do with it?<h3>
    <button><a href="/amountTransferSav">SUBMIT Transfer to Savings</a></button>
    <button><a href="/amountWithdraw">SUBMIT Withdrawal</a></button>
    <button><a href="/amountDeposit">SUBMIT Deposit</a></button>
