<h1>DS Checking Account</h1>


<h3>What would you like to do with it?<h3>
    <button><a href="/amountTransferSav"> Transfer to Savings</a></button>
    <button><a href="/amountWithdraw"> Withdrawal from Checking</a></button>
    <button><a href="/amountDeposit"> Deposit to Checking</a></button>
