
<h1>Leslie United DollarStorage</h1>
<h2>Welcome to United DS! What account would you like to work with? <h2>
<button id = 'checking'><a href= "/checking">Checking</a></button>
<button id = 'savings'><a href= "/savings">Savings</a></button>
