
<h1>Leslie United DollarStorage</h1>
<h2>Welcome to United DS! What account would you like to work with? <h2>
    <h3>Your savings balance is <%=@savings%></h3>
    <h3>Your checking balance is <%@checking%></h3>
<button id = 'checking'><a href= "/checking">Checking</a></button>
<button><a href= "/savings">Savings</a></button>
