
  <h1>DS Savings Account</h1>


  <h3>What would you like to do?</h3>
  <button><a href="/amountTransferCheck">Transfer To Checking </a></button>
  <button><a href="/amountWithdrawSav">Withdrawal</a></button>
  <button><a href="/amountDepositSav">Deposit</a></button>
